* {
    padding:0; margin: 0;
}

#tank {
    width: 325px;
    height: 419px;
    position: relative;
    margin: 0 auto;
    background: white;
    overflow: hidden;
}

#tank .rock {
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 325px;
    height: 71px;
    background: transparent url(images/rock.png) no-repeat;
}


#fishes {
    z-index: 20;
    position: absolute;
    left: 0;
    height: 427px;
    width: 325px;
}

.pushTop{
    height: 100px;
}
.pushBottom{
    height: 500px;
}